.hero-section {
  position: relative;
  width: 100%;
  height: 400px; /* Puedes ajustar el tamaño según lo que necesites */
  background-image: url('/public/images/HeroSection_img.jpg'); /* Ruta correcta de la imagen */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-position 0.1s ease-out; /* Transición suave para el deslizamiento */
}

.hero-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5); /* Semitransparente */
  padding: 20px;
  text-align: center;
  color: white;
  width: 80%;
  border-radius: 10px;
}

.hero-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
}

.hero-description {
  font-size: 19px;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hero-button {
  padding: 10px 20px;
  background-color: #ff5757;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.hero-button:hover {
  background-color: #ff3838;
}
