.asti-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: 'Oswald', sans-serif;
  color: #333;
  text-align: justify;
}

.asti-container h1 {
  color: #ff5757;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: left;
}

.asti-container p {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.8;
}

.asti-image {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.asti-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
